---
import me from '@/contents/me';
import Slide from './commons/Slide.astro';
---

<Slide as="header" id="slide-for-hero" class="flex flex-col row items-center max-w-5xl pt-20 px-8 lg:px-0">
	<div class="grid sm:grid-cols-1 md:grid-cols-2 gap-16">
		<img src="/me.jpeg" class="aspect-3/4 rounded-[2rem] hidden md:block" alt="Hero image" />
		<div class="pt-6">
			<p class="text-2xl font-semibold pb-1"><span class="underline">Hi there,</span> I'm</p>
			<h1 class="font-semibold leading-none tracking-tight text-balance">Hernie</h1>
			<h2 class="text-2xl font-semibold py-2">
				{me.professional.currentPosition} at <span class="underline"
					>{me.professional.company}</span
				>
			</h2>
			<p class="py-2">
				Welcome to my website. Please take a look and have a wonderful time
				exploring.
			</p>
			<p class="py-2">
				{me.personal.age} years old. Uruguayan 🇺🇾. {me.education.degree}. Energetic. Innovative. Creative. Committed. Result-driven.
				Good Friend. Passionate about technology. Always learning.
			</p>
			<p class="py-2">
				Crafting clean and highly functional code, architecting robust systems,
				creating modern websites, and consistently delivering projects that drive
				powerful impact. An exceptional team player, always looking to
				collaborate, improve and learn together.
			</p>
			<p class="pt-4">
				<span class="uppercase">[EMAIL]:</span> <a
					href=`mailto:${me.contact.email}`
					aria-label="Send me an email"
					target="_blank"
					rel="noopener noreferrer">hello@hernanfabrica.com</a
				>
			</p>
			<p>
				<span class="uppercase">[SOCIAL]:</span> <a
					href=`${me.contact.linkedin}`
					aria-label="Visit my LinkedIn profile"
					target="_blank"
					rel="noopener noreferrer">LinkedIn</a
				> | <a
					href=`${me.contact.github}`
					aria-label="Visit my GitHub profile"
					target="_blank"
					rel="noopener noreferrer">GitHub</a
				>
			</p>
		</div>
	</div>
	<div class="grid grid-cols-3 my-16 w-fit bg-gray-100 rounded-full">
		<button
			class="rounded-full bg-gray-100 py-4 px-8 sm:py-6 sm:px-12 border border-transparent text-center text-sm text-bleck/10 transition-all focus:bg-gray-200 active:bg-slate-300 hover:bg-gray-200 disabled:pointer-events-none disabled:opacity-50 cursor-pointer"
			type="button"
		>
			About
		</button>
		<button
			class="rounded-full bg-gray-100 py-4 px-8 sm:py-6 sm:px-12 border-l border-r border-transparent text-center text-sm text-bleck/10 transition-all focus:bg-gray-200 active:bg-slate-300 hover:bg-gray-200 disabled:pointer-events-none disabled:opacity-50 cursor-pointer"
			type="button"
		>
			Scroll to Explore
		</button>
		<button
			class="rounded-full bg-gray-100 py-4 px-8 sm:py-6 sm:px-12 border border-transparent text-center text-sm text-bleck/10 transition-all focus:bg-gray-200 active:bg-slate-300 hover:bg-gray-200 disabled:pointer-events-none disabled:opacity-50 cursor-pointer"
			type="button"
		>
			Let's talk
		</button>
	</div>
</Slide>
