---
import me from '@/contents/me';
---

<header id="hero">
	<div class="hero-greeting">
		<p class="is-uppercase"><span class="underline">Hi there,</span> I'm</p>
		<h1>{me.personal.name}<br />{me.personal.lastName}</h1>
		<h2 class="is-uppercase">
			{me.professional.currentPosition} at <span class="underline"
				>{me.professional.company}</span
			>
		</h2>
	</div>
	<div class="hero-description">
		<p class="p-label">[Hi]</p>
		<p class="mb-custom">
			Welcome to my website. You can call me Hernie. Please take a look and have
			a wonderful time exploring.
		</p>
		<p class="p-label">[Who I Am]</p>
		<p class="mb-custom">
			{me.personal.age} years old. Uruguayan 🇺🇾. {me.education.degree}. Backend
			Enthusiast. Energetic. Innovative. Creative. Committed. Result-driven.
			Good Friend. Passionate about technology. Always learning.
		</p>
		<p class="p-label">[What I Offer]</p>
		<p>
			Crafting clean and highly functional code, architecting robust systems,
			creating modern websites, and consistently delivering projects that drive
			powerful impact. An exceptional team player, always looking to
			collaborate, improve and learn together.
		</p>
	</div>
	<div class="hero-links">
		<p class="is-uppercase">
			[EMAIL]: <a
				href=`mailto:${me.contact.email}`
				aria-label="Send me an email"
				target="_blank"
				rel="noopener noreferrer">hello@hernanfabrica.com</a
			>
		</p>
		<p class="is-uppercase">
			[SOCIAL]: <a
				href=`${me.contact.linkedin}`
				aria-label="Visit my LinkedIn profile"
				target="_blank"
				rel="noopener noreferrer">LinkedIn</a
			> | <a
				href=`${me.contact.github}`
				aria-label="Visit my GitHub profile"
				target="_blank"
				rel="noopener noreferrer">GitHub</a
			>
		</p>
		<p class="is-uppercase">[Scroll to Explore]</p>
	</div>
</header>

<style lang="scss">
	@import '@/styles/colors.scss';
	@import '@/styles/fonts.scss';
	@import '@/styles/spaces.scss';
	#hero {
		margin: 0;
		height: 100%;
		min-height: 100svh;
		width: 100vw;
		padding: 4.5rem $space-4 $space-3;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, 1fr);
		grid-column-gap: 0px;
		grid-row-gap: 0px;
		.hero-greeting,
		.hero-links,
		.hero-description {
			width: 100%;
			max-width: $max-container-width / 2;
		}
		.hero-greeting,
		.hero-links {
			justify-self: end;
		}
		.hero-greeting {
			grid-area: 1 / 1 / 2 / 2;
			h2 {
				@extend .jetbrains;
				font-size: 1rem;
				margin-top: 0.75rem;
				font-weight: 500;
			}
		}
		.hero-links {
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			gap: 0.75rem;
			grid-area: 2 / 1 / 3 / 2;
			align-content: end;
		}
		.hero-description {
			grid-area: 1 / 2 / 3 / 3;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
			align-items: flex-end;
			p {
				width: 100%;
				max-width: 35rem;
			}
			.mb-custom {
				margin-bottom: 1.375rem;
			}
		}
		@media screen and (min-width: $screen-desktop-xl) {
			padding: $space-5;
			.hero-greeting {
				h2 {
					font-size: 1.125rem;
				}
			}
			.hero-description {
				p {
					max-width: 50rem;
				}
			}
		}
		@media screen and (max-width: $screen-tablet) {
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-column-gap: 0px;
			grid-row-gap: $space-3;
			.hero-greeting {
				grid-area: 1 / 1 / 2 / 2;
			}
			.hero-description {
				grid-area: 2 / 1 / 3 / 2;
				justify-content: flex-start;
				align-items: flex-start;
			}
			.hero-links {
				grid-area: 3 / 1 / 4 / 2;
			}
		}
		@media screen and (max-width: $screen-mobile) {
			padding: $space-5 $space-2 $space-4;
			.hero-greeting {
				h2 {
					margin-top: 0.5rem;
				}
			}
		}
	}
</style>
